*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem을 10px로 변환 (원래는 16px) */
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  min-width: 320px;
  font-size: 1.5rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-weight: 900;
  animation: loadAnimation 1s ease-in-out 1s forwards;
  pointer-events: none;
}

@keyframes loadAnimation {
  from {
    filter: blur(0px);
    opacity: 1;
  }

  to {
    filter: blur(10px);
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(248, 248, 248, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
}

.burger {
  position: relative;
  width: 25px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
}

#slideMenu {
  width: 100%;
  /*슬라이드가 펼쳐질 너비 */
  height: calc(100% - 40px);
  position: absolute;
  top: -100%;
  background-color: #f8f8f8;

  /*메뉴가 왼쪽으로 펼쳐지는 애니메이션을 구현하기 위한 transition 속성들*/
  /*각 브라우저에 대응하기 위해 브라우저 별 transition 속성을 주었습니다.*/
  transition: top 1s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  z-index: 999;
}

#slideMenu ul li {
  display: inline-block;
  padding-top: 1rem;
}

#slideMenu.on {
  top: 40px;
}

#slideMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  font-size: 4rem;
  font-weight: 900;
}

.detailsWrapperLeft,
.detailsWrapperRight {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.detailsWrapperLeft {
  align-items: flex-start;
  left: 10px;
}

.detailsWrapperRight {
  align-items: flex-end;
  right: 10px;
}

.swiper {
  height: 100vh;
  width: 100%;
}

.swiper-slide {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

.subTitle {
  font-weight: 900;
}

.flip-container.fade-in {
  opacity: 1;
}

.flip-container.fade-out {
  opacity: 0;
}

.flip-card {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  font-weight: 400;
}

.skillsIcons {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: grayscale(1);
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  filter: grayscale(1);
}

.flip-card-back {
  transform: rotateY(180deg);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  font-weight: 700;
  margin-bottom: 10px;
}

.cardDetail {
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px 0 40px;
  }

  .flip-container {
    position: relative;
    width: 200px;
    height: 100px;
    perspective: 1000px;
    margin: 50px auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease;
  }
}

@media (min-width: 768px) {
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .flip-container {
    position: absolute;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 50px auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease;
  }

  #info {
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #career {
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  #skills {
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #portfolio {
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #HealthPT {
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  #Garage {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #mv {
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #car {
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  #estate {
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #contact {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}